<script language="javascript" src="<{$xoops_url}>/modules/<{$link.module_dir}>/include/quickview.js"></script>

<{if $show_categort_title == true}>
<div style="margin-bottom: 4px;"><b><{$smarty.const._MD_WFB_CATEGORYC}></b><{$link.category}></div>
<{/if}> <br />
<table width="100%" cellspacing="0" cellpadding="2"> 
  <tr> 
    <td align="left"><a href="<{$xoops_url}>/modules/<{$link.module_dir}>/singlelink.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>"><{$link.title}></a> <{$link.icons}></td> 
    <{if $link.published > 0 }> 
		<td width="20%" align="right"><!-- LVDH <a href="<{$xoops_url}>/modules/<{$link.module_dir}>/singlelink.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>"><span class="itemTitle style4"><{$smarty.const._MD_WFB_VIEWDETAILS}></span></a> //--></td> 
	<{/if}>
  </tr>

  <tr> 
    <td height="1" colspan="2" bgcolor="#000000"></td> 
  </tr>
  <tr> 
    <td colspan="2"> <table width="100%" border="0" cellspacing="0" cellpadding="2"> 
        <tr class="even"> 
          <td width="65%"> <small><b><{$smarty.const._MD_WFB_SUBMITTER}>:</b> <{$link.submitter}> <{if $xoops_isadmin}><{$link.adminlink}> <{/if}></small></td> 
          <td><div align="right"><small><b><{$lang_subdate}>:</b>&nbsp;&nbsp;<{$link.updated}></small></div></td> 
        </tr> 
        <tr> 
          <td colspan="2">&nbsp;</td>
        </tr> 
        <tr> 
          <td width="65%" valign="top"> <{if $show_screenshot == true}> <{if $link.screenshot_full != ''}> 
            <div> <a href="<{$xoops_url}>/modules/<{$link.module_dir}>/singlelink.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>"><img src="<{$link.screenshot_thumb}>" alt="" hspace="7" vspace="3" border="0" align="right" /></a> </div> 
<{/if}> <{/if}> 
            <div style="margin-left: 6px;" align="justify"><!--LVDH <a href="<{$xoops_url}>/modules/<{$link.module_dir}>/visit.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>" target="_blank">&nbsp; <img src="<{$xoops_url}>/modules/<{$link.module_dir}>/images/icon/links.gif" alt="" align="absmiddle" />&nbsp;<{$smarty.const._MD_WFB_LINKNOW}> </a> //--> </div> 
            <br />
            <div align="justify"><b><{$smarty.const._MD_WFB_DESCRIPTIONC}></b><br /> 
<{$link.description|truncate:$link.total_chars}></div><!--LVDH Start invoeging //--><br />
             <img src="<{$xoops_url}>/modules/<{$link.module_dir}>/images/icon/info.gif" alt="" align="absmiddle" />&nbsp;
             <a href="<{$xoops_url}>/modules/<{$link.module_dir}>/singlelink.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>"><{$smarty.const._MD_WFB_VIEWDETAILS}>
						   <!-- LVDH Einde invoeging //-->
          </td> 
          <td width="35%"> <div class="outer style2" style="margin-left: 10px; margin-right: 10px; padding: 4px; background-color:#E6E6E6; border-color:#999999;">  
              <div><small><b><{$smarty.const._MD_WFB_PUBLISHER}>:</b>&nbsp;<{$link.publisher}></small></div>
              <div><small><{$link.hits|wordwrap:50:"\n":true}></small></div>
              <div><small><{$smarty.const._MD_WFB_COUNTRYB}>&nbsp;</small><img src="<{$link.country}>" alt="<{$link.countryname}>" align="middle" /></a></div>
              </div> 
            <br /> 
          <div style="margin-left: 10px; margin-right: 10px; padding: 4px;" class="outer">
          <div> <small><b><{$smarty.const._MD_WFB_RATINGC}></b>&nbsp;<img src="<{$xoops_url}>/modules/<{$link.module_dir}>/images/icon/<{$link.rateimg}>" alt="" align="middle" />&nbsp;&nbsp;(<{$link.votes}>)</small></div>
          <{if $link.showpagerank > 0}><br />
          <div><small><b><{$smarty.const._MD_WFB_PAGERANK}></b></small>&nbsp;<img src="<{$xoops_url}>/modules/<{$link.module_dir}>/images/icon/pr<{$link.pagerank}>.png" alt="<{$smarty.const._MD_WFB_PAGERANKALT}><{$link.pagerank}>" title="<{$smarty.const._MD_WFB_PAGERANKALT}><{$link.pagerank}>" align="middle" />&nbsp;<small>(<{$link.pagerank}>/10)</small></div>
          <{/if}>
          </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" valign="top">&nbsp;</td>
        </tr> 
        <{if $link.published == 0 }> 
		<tr> 
          <td colspan="2" valign="top"> <div class="even" align="center"> <small> <a href="<{$xoops_url}>/modules/<{$link.module_dir}>/ratelink.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>"><{$smarty.const._MD_WFB_RATETHISFILE}></a> | <a href="<{$xoops_url}>/modules/<{$link.module_dir}>/brokenlink.php?lid=<{$link.id}>"><{$smarty.const._MD_WFB_REPORTBROKEN}></a> | <{if $link.useradminlink}> <a href="<{$xoops_url}>/modules/<{$link.module_dir}>/submit.php?lid=<{$link.id}>"> <{$smarty.const._MD_WFB_MODIFY}></a> | <{/if}> <a target="_top" href="mailto:?subject=<{$link.mail_subject}>&body=<{$link.mail_body}>"><{$smarty.const._MD_WFB_TELLAFRIEND}></a> | <a href="<{$xoops_url}>/modules/<{$link.module_dir}>/singlelink.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>"><{$smarty.const._COMMENTS}> (<{$link.comments}>)</a> </small> </div></td> 
        </tr> 
	    <{/if}>
	  </table> 
  </tr>
  <{if $link.quickview > 0}>
    <tr>
    <td class="even" colspan="2" align="center" valign="center" style="padding-bottom: 3px;">
<i>
<small><script>
ppreview("<{$xoops_url}>/modules/<{$link.module_dir}>/visit.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>",<{$link.id}>);
potherfunctions("<{$xoops_url}>/modules/<{$link.module_dir}>/visit.php?cid=<{$link.cid}>&amp;lid=<{$link.id}>",<{$link.id}>, '');
</script> </small>
</i>
</td>
  </tr>
      <tr>
    <td height="1" colspan="2" bgcolor="#000000"></td>
  </tr>
<{/if}>
</table><br />
